.Kirish_wrap{
    width: 425px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 50px 20px;
    gap: 50px;
}
.Kirish_title h1{
    font-size: 36px;
    font-weight: 600;
}
.Kirish_title h2{
    font-size: 26px;
    font-weight: 400;
}
.Kirish_input{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}
.Kirish_input input{
    width: 100%;
    height: auto;
    padding: 18px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    border: 1px solid black ;
    font-size: 20px;
    font-weight: 400;
}
.Kirish_input  button{
    width: 100%;
    height: auto;
    padding: 18px 0px;
    background-color: #0098FF;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 400;
    color: white;
    border: none;
}

@media screen and (max-width: 376px){
    .Kirish_wrap{
        width: 100%;
    }
}