.Menubar{
    width: 425px;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    /* background-color: #EFEFEF; */
    box-sizing: border-box;
    padding-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;

}
.Menubar img{
    width:60px ;
    border-radius: 50px;
}

.backicon{
    width: 20px;
}
/* .Menubar .scanimg{
    width: 60px;
} */

@media screen and (max-width: 376px){
    .Menubar{
        width: 100%;
    }
}